In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [3]:
display(data.describe().T)
display(data.info())

,count,mean,std,min,25%,50%,75%,max
children,21525.0,0.538908,1.381587,-1.000000,0.000000,0.000000,1.000000,2.000000e+01
days_employed,19351.0,63046.497661,140827.311974,-18388.949901,-2747.423625,-1203.369529,-291.095954,4.017554e+05
dob_years,21525.0,43.293380,12.574584,0.000000,33.000000,42.000000,53.000000,7.500000e+01
education_id,21525.0,0.817236,0.548138,0.000000,1.000000,1.000000,1.000000,4.000000e+00
family_status_id,21525.0,0.972544,1.420324,0.000000,0.000000,0.000000,1.000000,4.000000e+00
debt,21525.0,0.080883,0.272661,0.000000,0.000000,0.000000,0.000000,1.000000e+00
total_income,19351.0,167422.302208,102971.566448,20667.263793,103053.152913,145017.937533,203435.067663,2.265604e+06

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

None

<div class="alert alert-block alert-info">
    
**Промежуточный вывод:** Тип данных в датасете в нужном формате, так же видим, что в 1 и 10 столбце есть пустые строки. Для дальнейшей работы с данными необходимо провести предобработку(избавимся от пропущенных значений, проверим данные на дубликаты и аномальные значения)

## Предобработка данных

### Удаление пропусков

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

In [6]:
data['days_employed'] = data['days_employed'].abs()

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [13]:
data['total_income'] = data['total_income'].astype('uint32')
data['children'] = data['children'].astype('uint8')
data['days_employed'] = data['days_employed'].astype('float32')
data['dob_years'] = data['dob_years'].astype('uint8')
data['education_id'] = data['education_id'].astype('uint8')
data['family_status_id'] = data['family_status_id'].astype('uint8')
data['debt'] = data['debt'].astype('uint8')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21402 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21402 non-null  uint8
 1   days_employed     21402 non-null  float32
 2   dob_years         21402 non-null  uint8
 3   education         21402 non-null  object
 4   education_id      21402 non-null  uint8
 5   family_status     21402 non-null  object
 6   family_status_id  21402 non-null  uint8
 7   gender            21402 non-null  object
 8   income_type       21402 non-null  object
 9   debt              21402 non-null  uint8
 10  total_income      21402 non-null  uint32
 11  purpose           21402 non-null  object
dtypes: float32(1), object(5), uint32(1), uint8(5)
memory usage: 1.2+ MB

Получилось сэкономить больше 66% памяти, указав более точно типы данных.

### Обработка дубликатов

In [14]:
data['education'] = data['education'].str.lower()

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используем  функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Создаим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используем функцию с именем `categorize_purpose()` и метод `apply()`. Изучим данные в столбце `purpose` и определим, какие подстроки помогут правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        
        if 'образовани' in row:
            return 'получение образования'
        elif 'свадь' in row:
            return 'проведение свадьбы'
        elif 'недвижим' in row:
            return 'операции с недвижимостью' 
        elif 'жил' in row:
            return 'операции с недвижимостью'
        elif 'автомоб' in row:
            return 'операции с автомобилем'

    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуование данных

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
display(data.groupby('children')['debt'].count())
display(data.groupby('children')['debt'].mean())
# Ваш код будет здесь. Вы можете создавать новые ячейки.

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

children
0    0.075438
1    0.092346
2    0.094542
3    0.081818
4    0.097561
5    0.000000
Name: debt, dtype: float64

**Вывод:** Зависимость между количеством детей в случае, когда их 4 и 5, не стоит учитывать. Так как данных по этой категории не достаточно.Но исходя из категории, где количество детей 0-3, можно утверждать, что зависимость есть: чем больше детей,тем больше вероятность невозврата.

In [23]:
def categorize_children(quantity):
    try:
        if quantity>0:
            return 'с детьми'
        elif quantity==0:
            return 'без детей'
    except:
        return 'нет категории'

In [30]:
# data['children_category'] = data['children'].apply(categorize_children)
display(data.groupby('children_category')['debt'].mean())

children_category
без детей    0.075438
с детьми     0.092403
Name: debt, dtype: float64

<div class="alert alert-block alert-info">
    
**Вывод:** Зависимость невозврат/дети в данном случае на лицо.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
data.groupby('family_status')['debt'].mean()# Ваш код будет здесь. Вы можете создавать новые ячейки.

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093130
женат / замужем          0.075606
Name: debt, dtype: float64

**Вывод:** Риск невозврата выше в категориях: не женат/не замужем, гражданский брак. Наименьший риск невзозврата в категории вдовец/вдова.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
display(data.groupby('total_income_category')['debt'].count())
display(data.groupby('total_income_category')['debt'].mean())# Ваш код будет здесь. Вы можете создавать новые ячейки.

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: debt, dtype: int64

total_income_category
A    0.080000
B    0.070602
C    0.084982
D    0.060172
E    0.090909
Name: debt, dtype: float64

<div class="alert alert-block alert-info">
    
**Вывод:** Данных в категории А и Е недостаточно для точной оценки(25 и 24 строки). К тому же нет прямой зависимости в категориях В-D, исходя из этого делаем вывод, что явной зависимости между уровнем дохода и возвратом кредита-нет.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [27]:
data.groupby('purpose_category')['debt'].mean()# Ваш код будет здесь. Вы можете создавать новые ячейки.

purpose_category
операции с автомобилем      0.093480
операции с недвижимостью    0.072551
получение образования       0.092528
проведение свадьбы          0.079118
Name: debt, dtype: float64

**Вывод:** Высок риск невозврата в категориях: операции с автомобилем и получение образования. В двух других категориях данные риски заметно ниже.

#### 3.5 Возможные причины появления пропусков в исходных данных.

Пропуски в колонке о доходах скорее всего связаны с нежеланием клиентов отвечать на данный вопрос (тип MCAR), либо программа не учитывает сведения о доходах, если они не официальные(тип MAR).Эти же причины, на мой взгляд, подоходят и для колонки days_employed

#### 3.6 Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

В данных часто всречаются аномальные значения, которые могут исказить итоговое значение, если мы возьмем среднее, поэтому использовать медиану-лучшее решение.

### Шаг 4: общий вывод.

**Наибольшие риски для выдачи кредита представляют следущие критерии:**
1. Люди с бОльшим количеством детей;
2. Не женатые( не замужем) или в гражданском браке;
3. кредиты выданные на авто или образование.

**Наименьший риск представляют:**
1. Люди с меньшим количеством детей;
2. вдовы/вдовцы;
3. кредиты выданные на свадьбу и недвижимость.

Для полной оценки платежоспособности клиента в зависимости от его дохода, необоходимо провести анализ в разрезе других критериев.

<div class="alert alert-block alert-info">
    
**Вывод:** Вопросы на которые требовалось ответить:
    
1. Есть ли зависимость между количеством детей и возвратом кредита в срок?
2. Есть ли зависимость между семейным положением и возвратом кредита в срок?
3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
4. Как разные цели кредита влияют на его возврат в срок?
   
    
    1)Отвечая на первый вопрос, уточню что данных по некоторым категориям количества детей недостаточно. Для объективной оценки разобьем клиентов на группы с детьми и без. 

                                            без детей    7,5 %

                                            с детьми     9,2 %

**Зависомость очевидна, риск невозврата выше во втором случае.**
    
    2)Данные о зависимости по второму вопросу выглядят так

                                    Не женат / не замужем    9,7 %

                                    гражданский брак         9,3 %

                                    женат / замужем          7,6 %

                                    в разводе                7,1 %

                                    вдовец / вдова           6,6 %
    
**Минимальный риск представляют вдовы и вдовцы**
    
    3)Для удобства сделаем разбивку клиентов на категории в зависимости от заработной платы, где 
    
категория Е- зарплата до 30000 тыс.рублей
    
категория D- зарплата до 50000 тыс.рублей 
    
категория C- зарплата до 200000 тыс.рублей 
    
категория B- зарплата до 1000000 тыс.рублей 
    
категория A- зарплата от 1000001 и выше тыс.рублей 

Получим:

                                            E    9,1 %

                                            C    8,5 %

                                            A    8,0 %

                                            B    7,1 %

                                            D    6,0 %

**Как ни странно,прямопропорциональой зависимости невозврата кредита от суммы заработной платы не прослеживается**
    
    4)Взглянeм на таблицу зависимости невозврата от цели кредита

                                    операции с автомобилем      9,3 %
    
                                    получение образования       9,3 %
    
                                    проведение свадьбы          7,9 %
    
                                    операции с недвижимостью    7,3 %
    
**Кредиты на автомобиль и образование являются самыми рисковыми среди остальных**